In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
import warnings; warnings.simplefilter('ignore')

In [16]:
data = pd.read_csv("the-movies-dataset/movies_metadata.csv")
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [17]:
data.shape

(45466, 24)

In [19]:
count = data['vote_count'].sum()
rating = data['vote_average']*data['vote_count']
rate = rating.sum()
C = rate/count
print(C)

6.681504836033629

In [33]:
from ast import literal_eval
data['genres']= data['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [36]:
top = data[data['vote_count'] > 500]
top = top[['title','release_date','genres','vote_count','vote_average']]
top['rating'] = (top['vote_count']/(top['vote_count']+500))*top['vote_average']+(500/(top['vote_count']+500))*C
top = top.sort_values(by=['rating'],ascending =False)

In [38]:
top.head(10)

,title,release_date,genres,vote_count,vote_average,rating
314,The Shawshank Redemption,1994-09-23,"[Drama, Crime]",8358.0,8.5,8.397353
834,The Godfather,1972-03-14,"[Drama, Crime]",6024.0,8.5,8.360630
12481,The Dark Knight,2008-07-16,"[Drama, Action, Crime, Thriller]",12269.0,8.3,8.236624
2843,Fight Club,1999-10-15,[Drama],9678.0,8.3,8.220491
292,Pulp Fiction,1994-09-10,"[Thriller, Crime]",8670.0,8.3,8.211751
522,Schindler's List,1993-11-29,"[Drama, History, War]",4436.0,8.3,8.136052
23673,Whiplash,2014-10-10,[Drama],4376.0,8.3,8.134035
5481,Spirited Away,2001-07-20,"[Fantasy, Adventure, Animation, Family]",3968.0,8.3,8.118879
351,Forrest Gump,1994-07-06,"[Comedy, Drama, Romance]",8147.0,8.2,8.112195
2211,Life Is Beautiful,1997-12-20,"[Comedy, Drama]",3643.0,8.3,8.104671

In [39]:
top.shape

(2049, 6)

In [57]:
def top_list(genre):
    df = top[top['genres'].apply(lambda x: genre in x)]
    return df

In [58]:
top_list('Crime').head(10)

,title,release_date,genres,vote_count,vote_average,rating
314,The Shawshank Redemption,1994-09-23,"[Drama, Crime]",8358.0,8.5,8.397353
834,The Godfather,1972-03-14,"[Drama, Crime]",6024.0,8.5,8.360630
12481,The Dark Knight,2008-07-16,"[Drama, Action, Crime, Thriller]",12269.0,8.3,8.236624
292,Pulp Fiction,1994-09-10,"[Thriller, Crime]",8670.0,8.3,8.211751
1178,The Godfather: Part II,1974-12-20,"[Drama, Crime]",3418.0,8.3,8.093454
289,Leon: The Professional,1994-09-14,"[Thriller, Crime, Drama]",4293.0,8.2,8.041592
3030,The Green Mile,1999-12-10,"[Fantasy, Drama, Crime]",4166.0,8.2,8.037281
1170,GoodFellas,1990-09-12,"[Drama, Crime]",3211.0,8.2,7.995406
46,Se7en,1995-09-22,"[Crime, Mystery, Thriller]",5915.0,8.1,7.989439
586,The Silence of the Lambs,1991-02-01,"[Crime, Drama, Thriller]",4549.0,8.1,7.959527

In [59]:
top_list('Romance').head(10)

,title,release_date,genres,vote_count,vote_average,rating
351,Forrest Gump,1994-07-06,"[Comedy, Drama, Romance]",8147.0,8.2,8.112195
10309,Dilwale Dulhania Le Jayenge,1995-10-20,"[Comedy, Drama, Romance]",661.0,9.1,8.058443
40251,Your Name.,2016-08-26,"[Romance, Animation, Drama]",1030.0,8.5,7.905721
40882,La La Land,2016-11-29,"[Comedy, Drama, Music, Romance]",4745.0,7.9,7.783842
22168,Her,2013-12-18,"[Romance, Science Fiction, Drama]",4215.0,7.9,7.770785
7208,Eternal Sunshine of the Spotless Mind,2004-03-19,"[Science Fiction, Drama, Romance]",3758.0,7.9,7.756917
4843,AmÃ©lie,2001-04-25,"[Comedy, Romance]",3403.0,7.8,7.656713
24982,The Theory of Everything,2014-11-26,"[Drama, Romance]",3403.0,7.8,7.656713
1132,Cinema Paradiso,1988-11-17,"[Drama, Romance]",834.0,8.2,7.630849
15530,Mr. Nobody,2009-09-11,"[Science Fiction, Drama, Romance, Fantasy]",1616.0,7.9,7.612076

In [60]:
top_list('Action').head(10)

,title,release_date,genres,vote_count,vote_average,rating
12481,The Dark Knight,2008-07-16,"[Drama, Action, Crime, Thriller]",12269.0,8.3,8.236624
1154,The Empire Strikes Back,1980-05-17,"[Adventure, Action, Science Fiction]",5998.0,8.2,8.083157
15480,Inception,2010-07-14,"[Action, Thriller, Science Fiction, Mystery, A...",14075.0,8.1,8.051338
7000,The Lord of the Rings: The Return of the King,2003-12-01,"[Adventure, Fantasy, Action]",8226.0,8.1,8.018720
256,Star Wars,1977-05-25,"[Adventure, Action, Science Fiction]",6778.0,8.1,8.002549
4863,The Lord of the Rings: The Fellowship of the Ring,2001-12-18,"[Adventure, Fantasy, Action]",8892.0,8.0,7.929808
5814,The Lord of the Rings: The Two Towers,2002-12-18,"[Adventure, Fantasy, Action]",7641.0,8.0,7.919021
23753,Guardians of the Galaxy,2014-07-30,"[Action, Science Fiction, Adventure]",10014.0,7.9,7.842054
2458,The Matrix,1999-03-30,"[Action, Science Fiction]",9079.0,7.9,7.836398
13605,Inglourious Basterds,2009-08-18,"[Drama, Action, Thriller, War]",6598.0,7.9,7.814166

In [61]:
top_list('Drama').head(10)

,title,release_date,genres,vote_count,vote_average,rating
314,The Shawshank Redemption,1994-09-23,"[Drama, Crime]",8358.0,8.5,8.397353
834,The Godfather,1972-03-14,"[Drama, Crime]",6024.0,8.5,8.360630
12481,The Dark Knight,2008-07-16,"[Drama, Action, Crime, Thriller]",12269.0,8.3,8.236624
2843,Fight Club,1999-10-15,[Drama],9678.0,8.3,8.220491
522,Schindler's List,1993-11-29,"[Drama, History, War]",4436.0,8.3,8.136052
23673,Whiplash,2014-10-10,[Drama],4376.0,8.3,8.134035
351,Forrest Gump,1994-07-06,"[Comedy, Drama, Romance]",8147.0,8.2,8.112195
2211,Life Is Beautiful,1997-12-20,"[Comedy, Drama]",3643.0,8.3,8.104671
1178,The Godfather: Part II,1974-12-20,"[Drama, Crime]",3418.0,8.3,8.093454
18465,The Intouchables,2011-11-02,"[Drama, Comedy]",5410.0,8.2,8.071532

In [65]:
top_list('War').head(10)

,title,release_date,genres,vote_count,vote_average,rating
522,Schindler's List,1993-11-29,"[Drama, History, War]",4436.0,8.3,8.136052
24860,The Imitation Game,2014-11-14,"[History, Drama, Thriller, War]",5895.0,8.0,7.896912
13605,Inglourious Basterds,2009-08-18,"[Drama, Action, Thriller, War]",6598.0,7.9,7.814166
5857,The Pianist,2002-09-24,"[Drama, War]",1927.0,8.1,7.807768
1919,Saving Private Ryan,1998-07-24,"[Drama, History, War]",5148.0,7.9,7.792130
1165,Apocalypse Now,1979-08-15,"[Drama, War]",2112.0,8.0,7.747608
1179,Full Metal Jacket,1987-06-26,"[Drama, War]",2595.0,7.9,7.703151
5553,Grave of the Fireflies,1988-04-16,"[Animation, Drama, War]",974.0,8.2,7.684907
732,Dr. Strangelove or: How I Learned to Stop Worr...,1964-01-29,"[Drama, Comedy, War]",1472.0,8.0,7.665696
40416,Hacksaw Ridge,2016-10-07,"[Drama, History, War]",3294.0,7.8,7.652597